*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-view {
  padding: 20px;
  padding-top: 0;
  > h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .m-content {
    margin: 10px 0 10px 0;
  }
}
hr {
  margin: 10px 0;
  opacity: 0;
}
a {
  color: var(--el-color-primary);
}
